# Ignore editor files
.idea/
.vscode/
.DS_Store
*-workspace
.ipynb_checkpoints/
.coverage

# Ignore runtime directories
dask-worker-space/

# Ignore compiled files
__pycache__/
*.egg-info/
build/
dist/

# Ignore data products
data/
scrap/
*.tif
*.pkl
*.xml
*.csv

# Ignore debugging and testing logs
results/
Results/
Logs/

# EOF